<?xml version="1.0" encoding="UTF-8"?>

<beans
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.springframework.org/schema/beans">



<bean id="classObj" class="java.lang.Class" factory-method="forName">
		<constructor-arg value="com.mysql.jdbc.Driver"></constructor-arg>
	</bean>
	<bean id="Driver" class="java.sql.DriverManager" factory-method="getConnection" scope="prototype">
		<constructor-arg value="jdbc:mysql://localhost:3306/student"></constructor-arg>
		<constructor-arg value="root"></constructor-arg>
		<constructor-arg value="root"></constructor-arg>
	</bean>

	




</beans>